<p>
  <b>poll:</b>
  <%=h @question.poll_id %>
</p>

<p>
  <b>Text:</b>
  <%=h @question.text %>
</p>

<p>
  <b>Group:</b>
  <%=h @question.group_id %>
</p>

<p>
  <b>Form field type:</b>
  <%=h @question.form_field_type %>
</p>

<p>
  <b>Answer choices:</b>
  <%=h @question.answer_choices %>
</p>

<p>
  <b>Field username:</b>
  <%=h @question.field_username %>
</p>

<p>
  <b>Position:</b>
  <%=h @question.position %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>