<h1> <%= @poll.name %> Answer Summary </h1>
<%= pluralize(@answer_count, 'poll has ', 'polls have ') + "been answered" %>
<% if @answer_count > 0 %>
  <div class="answers">
    <% for group in @poll.groups.by_position %>
      <h3><%= group.name %></h3>
      <% for question in group.questions.by_position %>
        <ul>
          <li><%= question.text %></li>
          <%= format_answers(question) %>
        </ul>
      <%end%>
    <%end%>
  </div>
<% end %>