<h1> <%= @poll.name %> Answer Table </h1>
<%= pluralize(@answer_count, 'poll has ', 'polls have ') + "been answered" %>
<table>
  <tr><%= answer_table_group_headers(@poll) %></tr>
  <tr><%= answer_table_sub_headers(@poll) %></tr>
  <% for r_id in @responder_ids %>
  <tr>
    <td><%= r_id.to_s %> </td>
    <% for ans in @poll.answers_for_responder_id(r_id) %>
      <%= content_tag('td', ans.answer_text ) %>
    <% end %>
  </tr>
  <% end %>
</table>