<div class="fields">
  <fieldset><legend>Question Group</legend>
  <p>
    <%= f.label :name, "group name" %>
    <%= f.text_field :name %>
    <%= f.hidden_field :position, :class=>'group_position' %>
    <%= remove_child_link "remove this group", f %>
  </p>
  <div class="questions"
  <% f.fields_for :questions do |question_form| %>
    <%= render :partial=>"question", :locals => { :f => question_form }%>
  <% end %>
       <p><%= add_child_link "Add a question to this group", f, :questions %></p>
  </div>
  </fieldset>
</div>
