<%= f.error_messages %>
<div class="fields" >
  <fieldset>
    <legend> Question Definition </legend>
    <p>
      <%= f.label "Question text" %>
      <br/>
      <%= f.text_area :text, :rows=>4 %>
      <%= remove_child_link "remove this question", f %>
    </p>
    <div id="form_field_type">
      <p>
        <!-- FORM FIELD TYPE -->
        <%= f.label :form_field_type %>
        <%= f.select( "form_field_type", ['text_field', 'text_area', 'yes_no',
            'radio_button', 'options'],{},
          {:onchange=>"showHideChoices(this.selectedIndex, this);"}) %>
      </p>
      <% if ['options', 'radio_button'].include?(f.instance_values["object"].form_field_type) %>
        <div id="choices" >
        <% else %>
          <div id="choices" style="display:none;">
          <% end %>
          <p>
            <%= f.label :answer_choices, 
              "This field type requires a list of possible answers, list possible
               answers below" %>
            <br/>
            <i>separate each answer with a vertical bar | </i>
            <br />
            <i>example: yes | no | maybe </i>
            <br/>
            <%= f.text_area :answer_choices, :cols=>80, :rows=>4 %>
          </p>
        </div>
      </div>
      <p>
        <%= f.label :field_name %>
        <%= f.text_field :field_name %>
      </p>
      <%= f.hidden_field :position, :class=>'question_position' %>
  </fieldset>
</div>
